<div class="flex flex-col gap-y-3">
    <p class="text-3xl font-semibold">Howdy! 👋 </p>

    <p>I'm Pursottam (pronounced "Purushottam"). I'm a software developer who thrives on bringing ideas to life with code!</p>

    <p>I'm a self-taught programmer with a passion for learning new things and solving problems. Known for being a quick learner, I'm always eager to explore new technologies and frameworks. I enjoy collaborating with others to solve problems and build new projects.</p>
    
    <p>I'm known for my whimsical creations and ability to solve complex problems. This has led me to realize my potential and work harder beyond my limits. It was incredible to work as a GSOC Contributor and GDSC Open Source Lead.</p>
    <div class="flex flex-col justify-center items-center gap-y-2">
        <img src="assets/images/about/presentation.jpg" class="w-[730px] h-auto rounded-md " alt="Presentation"/>
        <p class="text-gray-500 text-center text-sm italic">Pursottam Presenting at Coding Pundits 2022</p>
    </div>

    <p>I've been fortunate to work with and for names such as Ultimate Kronos Group (UKG), Ai4Bharat, Uniflik, and Indian Oil. I'm currently a Unified Engineer at UKG, where I work on the legacy project Dimensions under AI and Data Platforms.</p>

    <p>I love solving Leetcode problems, not just for interviews but as a way to tackle difficult situations. When I feel stressed, doing brain exercises helps me relieve stress and think in ways I never imagined.</p>

    <p>Besides demos, I love creating videos, streaming, writing articles, and speaking at conferences. Check out the "Content" tab for more on that.</p>

    <p>Reach out and say "Hey!". I look forward to hearing from you!</p>

    <p class="font-bold">Stay awesome!</p>

    <img src="assets/images/about/signature.png" class="w-[160px] h-auto" alt="Presentation"/>
</div>